$theme-color: #5bc8a5;

.login-container{
    position: relative;
    box-sizing: border-box;
    position: absolute;
    top: calc((100vh - 56px - 20px - 70vh) / 2);
    right: 3vw;
    height: 70vh;
    padding: 2%;
    width: 450px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0,0,0,.16);
    .login-banner{
        font-size: 24px;
        margin-bottom: 30px;
        &::after{
            content: '';
			display: block;
			height: 1px;
            width: 70%;
            margin: 10px auto;
            position: relative;
            top: 1px;
            background-color: $theme-color;
        }
    }
    input{
        margin: 15px auto;
    }
    .checkbox-container{
        display: flex;
        justify-content: space-around;
        width: 70%;
        margin: 30px auto;
        .checkbox{
            cursor: pointer;
            i{
                color: $theme-color;
                margin-right: 5px;
            }
        }
    }
    
    .login-btn{
        width: 70%;
        height: 45px;
        margin: 50px auto;
        background-color: transparent;
        text-align: center;
        line-height: 45px;
        color: #333;
        border: 1px solid $theme-color;
        border-radius: 22.5px;
        cursor: pointer;
        &:hover{
            background-color: $theme-color;
            color: white;
        }
    }
}

.title{
    position: fixed;
    top: 30vh;
    left: 10vw;
    border-left: 17px solid $theme-color;
    user-select: none;
    .zh,.en{
        margin-left: 30px;
        color: rgb(83, 83, 83);
        font-size: 3.2rem;
        line-height: 30px;
        font-weight: 500;
    }
    .en{
        font-size: 2rem;
        font-weight: 400;
    }
}
.login-btn{
    position: absolute;
    right: 200px;
    top: 50vh;
    width:150px;
    height: 45px;
    background-color: darken($theme-color,5);
    text-align: center;
    line-height: 45px;
    color: #fff;
    border-radius: 2px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0,0,0,.16);
    &:hover{
        background-color: darken($theme-color,1);
        color: white;
    }
}