$theme-color: #5bc8a5;

.aside{
    background-color: #fff;
    width: 220px;
    position: fixed;
    top: 65px;
    height: calc(100vh - 85px);
    box-shadow: 2px 2px 5px rgba(0,0,0,.08);
    overflow: auto;
    transition: .2s;
    font-size: 14px;
    user-select: none;
    .label{
        position: relative;
        padding: 15px 20px;
        font-weight: 500;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        &:hover{
            background-color: rgba(0, 0, 0, 0.08);
        }
        &::after{
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 220px;
            height: 200px;
            margin-left: -110px;
            margin-top: -110px;
            background: rgba(255,255,255,0.3);
            border-radius: 100%;
            transform: scale(0);
        }
    }
    .list{
        cursor: pointer;
        padding: 8px 30px;
        transition: .2s;
        &:hover{
            background-color: rgba(0, 0, 0, 0.08);
        }
        &.active{
            color:$theme-color;
            font-weight: 400;
        }
    }
}

@media all and (max-width: 768px){
    .aside{
        transition: .2s;
        left: -220;
    }
}

.main{
    box-sizing: border-box;
    width: calc(100vw - 220px);
    height: calc(100vh - 85px);
    position: fixed;
    top: 65px;
    left: 220px;
    overflow-y: auto;
    padding: 20px;
    .examlist{
        background-color: #fff;
        font-size: 18px;
        padding: 2%;
        text-align: center;
    }
}

@keyframes ripple{
    0%{
      transform: scale(0);
    }
    20%{
      transform: scale(1);
    }
    100%{
      transform: scale(1);
      opacity: 0;
    }
}