/*@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);*/
@import './theme.scss';

body {
  margin: 0;
  padding: 0;
  font-family: '微軟正黑體', sans-serif;//'Noto Sans TC'
  background-color: $bg-color;
  font-weight: 300;
}

a{
  text-decoration: none !important;
  color: inherit;
}

input{
  border: 0.5px solid #ccc;
  border-radius: 4px;
  padding: 15px 40px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

.content{
  position: absolute;
  top: 65px;
  height: calc(100vh - 85px);
  width: 100%;
}

table{
  width: 95%;

  margin:  0 auto;
  text-align: center;
  border-collapse: collapse;
  font-weight: 300;
  tr{
    background-color: #fff;
    user-select: none;
    
    &:not(:first-child){
      border-top:1px solid rgba(91, 200, 165, .5);
      cursor: pointer;
      &:hover{
        background-color:  rgba(91, 200, 165,1);
        color:#fff;
      }
    }
  }  
  td,th{
    padding: 20px 30px;
    
    border-radius: 2px;
  }
  
  th{
    font-weight: bold;
    font-size: 1.1rem;
    border-bottom: 2px solid $theme-color;
  }
}


/* tr:nth-child(2n){}
tr:nth-child(2n+1){} */


