
.footer{
    position: fixed;
    bottom: 0;
    height: 20px;
    width: 100%;
    background-color: rgba(0,0,0,.35);
    line-height: 20px;
    text-align: center;
    color: #eee;
    font-size: 12px;

}